body {
  margin: 0 auto;
  background: url("images/pattern-background-desktop.svg") no-repeat;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
}

@media (max-width: 992px) {
  body {
    margin: 0 auto;
    background: url("images/pattern-background-mobile.svg") no-repeat;
    background-color: hsl(225, 100%, 94%);
  }
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.card {
  width: 30%;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(56, 56, 56, 0.19);
}

.img-header {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* card body */
.card-body {
  padding: 1rem 2rem 3rem 2rem;
}

/* title & description */
p {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #78909c;
}

.title h2 {
  font-weight: 900;
}

.title,
.desc,
.btn-payment,
.cancel-order {
  text-align: center;
}

/* price plan */
.price-plan {
  padding: 1rem 0 1rem 0;
  margin: 1rem 1rem 1rem 1rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 70px 100px 1fr;
  grid-column-gap: 20px;
}

.price-plan img {
  align-self: center;
  justify-self: end;
}

.plan {
  align-self: center;
  justify-self: auto;
}

.plan h5,
h6 {
  padding: 0;
  margin: 0;
}

.plan h5 {
  font-weight: 900;
  font-size: 16px;
}

.plan h6 {
  color: #78909c;
  font-size: 16px;
  font-weight: 500;
}

/* change btn */
.change {
  align-self: center;
  justify-self: center;
}

.change a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 12px;
}

.change a:hover {
  text-decoration: none;
  color: hsl(224, 48%, 65%);
}

/* button */
button {
  padding: 1rem;
  margin: 0.8rem 1rem 1rem 1rem;
  width: 91%;
  background-color: hsl(245, 75%, 52%);
  border: none;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 20px 20px rgba(56, 56, 56, 0.19);
}

button:hover {
  background-color: hsl(224, 48%, 65%);
}

button.btn-payment {
  font-weight: 700;
}

/* cancel order btn */
.cancel-order {
  margin-bottom: -1rem;
  font-weight: 700;
  font-size: 14px;
}

.cancel-order a {
  text-decoration: none;
  color: #78909c;
}

.cancel-order a:hover {
  color: hsl(223, 47%, 23%);
}

@media (max-width: 992px) {
  .card {
    width: 90%;
    background-color: #fff;
    border: 0;
    border-radius: 10px;
  }

  .card-body {
    padding: 1rem 1rem 3rem 1rem;
  }

  .price-plan {
    margin: 1rem 0.5rem 1rem 0.5rem;
    grid-template-columns: 60px 100px 1fr;
  }

  button {
    margin: 1rem 0.5rem 1rem 0.5rem;
    width: 95%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
