body {
  margin: 0 auto;
  background: url("images/pattern-background-desktop.svg") no-repeat;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
}

@media (max-width: 992px) {
  body {
    margin: 0 auto;
    background: url("images/pattern-background-mobile.svg") no-repeat;
    background-color: hsl(225, 100%, 94%);
  }
}

p {
  font-size: 16px;
  color: #546e7a;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.card {
  width: 30%;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}

.img-header {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 1rem 2rem 2rem 2rem;
}

.price-plan {
  padding: 1rem 0 1rem 0;
  margin: 1rem 1rem 1rem 1rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.price-plan img {
  align-self: center;
  justify-self: center;
}

.plan {
  align-self: center;
  justify-self: start;
}

.plan h5,
h6 {
  padding: 0;
  margin: 0;
}

.change {
  align-self: center;
  justify-self: center;
}

button {
  padding: 1rem;
  margin: 0.8rem 1rem 1rem 1rem;
  width: 91%;
  background-color: hsl(245, 75%, 52%);
  border: none;
  border-radius: 10px;
  color: #fff;
}

.cancel-order {
  margin-bottom: -1rem;
}

.cancel-order a {
  text-decoration: none;
  color: #546e7a;
}

.title,
.desc,
.btn-payment,
.cancel-order {
  text-align: center;
}

@media (max-width: 992px) {
  .card {
    width: 90%;
    background-color: #fff;
    border: 0;
    border-radius: 10px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
